<div class="w-full sticky top-0 z-10 p-2 flex items-center justify-center backdrop-blur-md">
  <div class="w-2xl">
    <app-gallery-search [value]="q()" (onChange)="onSearch($event)"/>
  </div>
</div>

<div class="flex flex-wrap justify-evenly items-center gap-2 max-sm:gap-4 ">
  @for (picture of pictures.value(); track picture.id) {
    <app-img #img (click)="navigateToPhotoPage(picture.id)" [picture]="picture"/>
  }
</div>

<div class="flex w-full justify-center flex-col items-center sticky bottom-0 backdrop-blur-md p-2">
  <tui-pager [count]="quantityPage() + 1" [index]="page() - 1"/>

  <div class="tui-space_top-3 flex gap-2">
    <button size="m" tuiButton type="button" (click)="prevPage()">prev</button>
    <button
      size="m"
      tuiButton
      type="button"
      class="tui-space_left-3"
      (click)="nextPage()"
    >
      next
    </button>
  </div>
</div>
