@if (pictures.value(); as pictures) {
  @let hasImage = pictures.length > 0;
  <div class="w-full sticky top-0 z-10 p-2 flex items-center justify-center backdrop-blur-md">
    <div class="w-2xl">
      <app-gallery-search [value]="q()" (onChange)="onSearch($event)"/>
    </div>
  </div>

  <div class="flex flex-wrap justify-evenly items-center gap-2 max-sm:gap-4 ">
    @for (picture of pictures; track picture.id) {
      <a [routerLink]="[picture.id]">
        <app-img #img [picture]="picture"/>
      </a>
    }
  </div>
  @if (hasImage && (quantityPage() > 1)) {
    <div class="flex w-full justify-center flex-col items-center sticky bottom-0 backdrop-blur-md p-2">
      <tui-pager [count]="quantityPage() + 1" [index]="page() - 1"/>

      <div class="tui-space_top-3 flex gap-2">
        <button size="m" tuiButton type="button" (click)="prevPage()" [disabled]="page()===1">prev</button>
        <button
          size="m"
          tuiButton
          type="button"
          class="tui-space_left-3"
          (click)="nextPage()"
          [disabled]="quantityPage()===page()"
        >
          next
        </button>
      </div>
    </div>
  } @else if (!hasImage) {
    <tui-block-status>
      <div tuiSlot="top" class="text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-search-x-icon lucide-search-x">
          <path d="m13.5 8.5-5 5"/>
          <path d="m8.5 8.5 5 5"/>
          <circle cx="11" cy="11" r="8"/>
          <path d="m21 21-4.3-4.3"/>
        </svg>
      </div>


      <h4>Not found</h4>

      No pictures found for '{{ q() }}'
    </tui-block-status>

  }
}
@if (pictures.isLoading()) {
  <tui-loader/>
}
