@for (image of image.value(); track image.id) {
  <app-img [picture]="image"/>
  <h3 class="text-2xl">
    Author:
  </h3>
  <div class="flex items-center gap-2 mb-4">
    <tui-avatar [src]="image.userImageURL ? image.userImageURL : '@tui.user' | tuiIcon "/>
    <p>{{ image.user }}</p>
  </div>
  @let tags = image.tags | convertArray;
  <div class="flex max-w-80 flex-wrap gap-1">
    @for (tag of tags; track tag) {
      <a [routerLink]="['/gallery']" [queryParams]="{q:tag}">
        <app-tag [tag]="tag"></app-tag>
      </a>

    }
  </div>

}
